<div class="container">
  <form
    [formGroup]="contactForm"
    class="row g-3 needs-validation"
    novalidate
    (submit)="enviar($event)"
  >
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        formControlName="email"
        [ngClass]="{'is-invalid' : hasErrors('email', 'requerid')|| hasErrors('email', 'email')}"
      />
      @if (hasErrors('email', 'requerid')){
        <span class="text-danger">you have to complete this field</span>
      }
       @if (hasErrors('email', 'email')){
        <span class="text-danger">Invalid email format</span>
      }


    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >message</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
        formControlName="message"
        [ngClass]="{'is-invalid' : hasErrors('message', 'requerid')|| hasErrors('message', 'minlength')}"
      ></textarea>
      @if (hasErrors('message', 'requerid')){
        <span class="text-danger">you have to complete this field</span>
      }
       @if (hasErrors('message', 'minlength')){
        <span class="text-danger">you have to write at leats 10 characters</span>
      }


    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
